div.rooms {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 1em;
  row-gap: 1em;
  margin: 1em;
}

@media screen and (max-width: 1200px) {
  div.rooms {
    grid-template-columns: repeat(2, 1fr);
  }
}
